compiler/
logs/
zig-out/
zig-cache/
.zig-cache/
serverAssets/
gamecontrollerdb.txt
gamecontrollerdb.stamp
launchConfig.zon

Cubyz.dll
CubyzFork
CubyzFork.pub
CubyzForkSSH
CubyzForkSSH.pub
id_rsa
id_rsa.pub

test.png

/mods/*
!/mods/cubyz

/assets/*
!/assets/cubyz
!/assets/backgrounds/default_background.png
/assets/cubyz/music
/assets/cubyz/fonts
